body {
    margin: 0;
    padding: 10px;
    background-color: darksalmon;
    font-size: 24px;
}

h1 {
    color: white;
}

h3 {
    color: brown;
}

li {
    color: fuchsia;
}

hr {
    margin-bottom: 50px;
    width: 70%;
}

#question {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.blue {
    font-weight: 800;
    color: blue;
    background-image: url(../Images/valentin.jpg);

}

#button {
    font-size: 50px;
    border-radius: 5px;
}