body {
    background: url(../images/vishmay.jpg) no-repeat center center/cover;
}
  
h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.2rem silver;
    margin-top: 10%;
}
  
p{
    font-size: 1rem;
    color: white;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.2rem silver;
}

h3{
    margin-top: 10rem;
    font-size: 1.3rem;
    color: white;
    margin-left: 2rem;
    text-shadow: 0.2rem 0.2rem 0.2rem silver;
}

li a{
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.2rem silver;
  }