body {
    font-family: sans-serif;
      background: hsl(210, 36%, 96%);
      color: hsl(209, 61%, 16%);
      line-height: 1.5;
      font-size: 0.875rem;
    }
    main {
      min-height: 100vh;
      display: grid;
      place-items: center;
    }
    .container {
      text-align: center;
    }
    #value {
      font-size: 6rem;
      font-weight: bold;
    }
    .btn{
            
      font-family:sans-serif ;
      text-transform: uppercase;
      background: transparent;
      color: black;
      letter-spacing: 0.1rem;
      display: inline-block;
      font-weight: 700;
      transition: all 0.3s linear;
      border: 2px solid black;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: .25rem;
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
    }
    .btn:hover {
      color: gray
      ;
      background:skyblue;
    }
    