@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;700&display=swap");

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #222222;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 8px 16px;
}

.greeting {
  font-size: 2rem;
  font-family: "Kufam";
}

.name {
  font-size: 4rem;
  margin: 0;
  font-family: "Kufam";
}

p {
  font-family: "Kufam";
}